@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://global-uploads.webflow.com/5e2b8863ba7fff8df8949888/5ea9e299af9cb85801981419_5e28e5fd0ab615421a50e15f_dance-studios-in-la-snowglobe.jpeg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left:-30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;

}
